<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HyyperWan</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>HyyperWan</h1>
    <table>
        <thead>
            <tr>
                <th>Interface</th>
                <th>IP Address</th>
                <th>Latency</th>
                <th>Loss</th>
                <th>Bandwidth</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for interface in interfaces %}
            <tr>
                <td>{{ interface.name }}</td>
                <td>{{ interface.ip }}</td>
                <td>{{ interface.latency }}</td>
                <td>{{ interface.loss }}</td>
                <td>
                    {% if interface.bandwidth == 'N/A' %}
                        N/A
                    {% else %}
                       {{ interface.bandwidth.Kb }}<br>
                       {{ interface.bandwidth.Mb }}<br>
                       {{ interface.bandwidth.Gb }}
                     {% endif %}
                </td>
                <td>
                    <form action="{{ url_for('apply_interface') }}" method="post">
                        <input type="hidden" name="interface" value="{{ interface.name }}">
                        <input type="text" name="latency" placeholder="Latency (e.g., 100ms)">
                        <input type="text" name="loss" placeholder="Loss (e.g., 1%)">
                        <input type="text" name="bandwidth" placeholder="Bandwidth (e.g., 1000Kbit)">
                        <br>
                        <button type="submit">Apply</button>
                    </form>
                    <form action="{{ url_for('remove_interface') }}" method="post">
                        <input type="hidden" name="interface" value="{{ interface.name }}">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>